@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@500&display=swap');
html {
  height: 100%;
}
body {
  display: grid;
  place-items: center;
  min-height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1em;
}
#app {
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
p {
  margin: 0;
}
button {
  appearance: none;
}